@import "tailwindcss";

body {
  background: repeating-linear-gradient(
    135deg,
    #111 0px,
    #111 80px,
    #1a1a1a 80px,
    #1a1a1a 160px
  );
  background-attachment: fixed;
}



.glass {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(10px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.10);
  border-radius: 20px;
  box-shadow: 
    0 8px 32px rgba(31, 38, 135, 0.2),
    inset 0 4px 10px rgba(255, 255, 255, 0.09);
}
.glass::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow:
    inset -12px -10px 0 -12px rgba(255, 255, 255, 0.15),
    inset 0 -11px 0 -9px rgba(255, 255, 255, 0.1);
  filter: blur(1px) brightness(150%);
  opacity: 0.5;
  pointer-events: none;
}

.glassButton:hover{
  background: rgba(255, 255, 255, 0.15);
}






